html {
	background-color: #fafafa;
}
.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
	background-color: rgb(68, 68, 68);
	border-radius: 5px;
}

.result dd {
	color: #fafafa;
}

.result dt {
	color: rgb(239, 119, 3);

}

.result a {
	color: deepskyblue;
}

.result a:hover {
	text-decoration: none;
	color: dodgerblue;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
span {
	color: rgb(239, 119, 3);
}

/*.templates {
	background-color: rgb(68, 68, 68);
}*/